{% load static %}
{% load generic_scaffold_tags %}
{% load tailwind_tags %}
{% set_urls_for_scaffold prefix="authors/" as author_url %}
{% set_urls_for_scaffold prefix="books/" as book_url %}
{% set_urls_for_scaffold prefix="reviews/" as review_url %}
{% set_urls_for_scaffold prefix="sales/" as sale_url %}
{% set_urls_for_scaffold prefix="countries/" as country_url %}
<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books Review</title>
        {% tailwind_css %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    </head>

    <body class='bg-slate-200'>
      <div class='flex flex-row justify-center items-center text-4xl gap-10 pt-5'>
        <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="50" data-dropdown-trigger="hover" class="text-center inline-flex items-center bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 border-2 border-transparent hover:from-violet-500 hover:to-pink-500 hover:border-violet-400" type="button">Models <div class='text-violet-500'>{% include 'icons/arrow_down.html' %}</div>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-base text-violet-700" aria-labelledby="dropdownDelayButton">
            <li>
              <a href="{% url author_url.list %}" class="block px-4 py-2 hover:bg-violet-100">Authors</a>
            </li>
            <li>
              <a href="{% url book_url.list %}" class="block px-4 py-2 hover:bg-violet-100">Books</a>
            </li>
            <li>
              <a href="{% url review_url.list %}" class="block px-4 py-2 hover:bg-violet-100">Reviews</a>
            </li>
            <li>
              <a href="{% url sale_url.list %}" class="block px-4 py-2 hover:bg-violet-100">Sales</a>
            </li>
            <li>
              <a href="{% url country_url.list %}" class="block px-4 py-2 hover:bg-violet-100">Countries</a>
            </li>
          </ul>
        </div>

        <a href="{% url 'authors_info' %}" class="inline-flex items-center bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 border-2 border-transparent hover:from-violet-500 hover:to-pink-500 hover:border-violet-400 cursor-pointer">
          Authors Info
        </a>
        <a href="{% url 'books_top_10' %}" class="inline-flex items-center bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 border-2 border-transparent hover:from-violet-500 hover:to-pink-500 hover:border-violet-400 cursor-pointer">
          Books Top 10
        </a>
        <a href="{% url 'books_top_selling' %}" class="inline-flex items-center bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 border-2 border-transparent hover:from-violet-500 hover:to-pink-500 hover:border-violet-400 cursor-pointer">
          Books Top Selling
        </a>
        <a href="{% url 'search' %}" class="inline-flex items-center bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 border-2 border-transparent hover:from-violet-500 hover:to-pink-500 hover:border-violet-400 cursor-pointer">
          Search
        </a>
      </div>

      <div id="django-message">
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>

      <div class="main-content mx-20">
          {% block content %}
          {% endblock %}
      </div>
    </body>
</html>