{% extends "header_template.html" %}
{% load static %}
{% load generic_scaffold_tags %}
{% block content %}

<h1>Authors</h1>

<div>
    {% for author in authors %}
    <div>
        <div>
            <p>{{ author.name }}</p>
        </div>
        <div>
            <span><a href="{% url author_url.detail author.id %}">DETAIL</a></span>
            <span><a href="{% url author_url.update author.id %}">UPDATE</a></span>
            <span><a href="{% url author_url.delete author.id %}">DELETE</a></span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}