{% extends "header_template.html" %}
{% block content %}

<div class='flex flex-col items-center'>
  <div class='p-5'>
    <div class='text-center p-5 py-2 bg-gradient-to-r bg-contain from-pink-500 to-violet-500 hover:from-violet-500 hover:to-pink-500 max-w-fit rounded-full'>
      <a href="{% url book_url.create %}">Create New Book</a>
    </div>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Publish Date</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in object_list %}
      <tr>
        <td>{{book.name}}</td>
        <td class='text-center'>{{book.publish_date}}</td>
        <td class='text-center'>{{book.author}}</td>
        <td>
          <div class='flex gap-2'>
            <a href="{% url book_url.detail book.id %}">{% include 'core/icons/eye.html' %}</a>
            <a href="{% url book_url.update book.id %}">{% include 'core/icons/pencil-square.html' %}</a>
            <a href="{% url book_url.delete book.id %}">{% include 'core/icons/trash.html' %}</a>
          </div>
        </td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}