{% extends "header_template.html" %}
{% block content %}


<div class="flex items-center justify-center">
  <form class='min-w-[50%] flex flex-col' method='POST'>
    {% csrf_token %}
    <h1 class='text-5xl py-5 text-center'>Country Form</h1>
    <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-slate-800">Name</label>
      <input type="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter the name of the country" value='{{country.name}}' required>
    </div>
    <div class='flex flex-row gap-10 justify-center'>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <a href="{% if country.id %}{% url country.detail_url_name country.id %}{% else %}{% url country_url.list %}{% endif %}" class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800">Back</a>
    </div>
  </form>
</div>

{% endblock %}
