{% extends "header_template.html" %}
{% load static %}
{% load generic_scaffold_tags %}
{% block content %}

<div class='flex flex-col items-center'>
  <div class='p-5'>
    <div class='text-center p-5 py-2 bg-gradient-to-r bg-contain from-pink-500 to-violet-500 hover:from-violet-500 hover:to-pink-500 max-w-fit rounded-full'>
      <a href="{% url review_url.create %}">Create New review</a>
    </div>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Text</th>
        <th>Rating</th>
        <th>Upvotes</th>
        <th>Date</th>
        <th>Book</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for review in object_list %}
      <tr>
        <td>{{ review.text }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.upvotes }}</td>
        <td>{{ review.date }}</td>
        <td>{{ review.book }}</td>
        <td>
          <span><a href="{% url review_url.detail review.id %}">DETAIL</a></span>
          <span><a href="{% url review_url.update review.id %}">UPDATE</a></span>
          <span><a href="{% url review_url.delete review.id %}">DELETE</a></span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}