{% extends "header_template.html" %}
{% block content %}


<div class="flex items-center justify-center">
  <form class='min-w-[50%] flex flex-col' method='POST'>
    {% csrf_token %}
    <h1 class='text-5xl py-5 text-center'>Sale Form</h1>
    <div class="relative w-full mb-6">
      <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-slate-800">Date</label>
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none pt-6">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
      </div>
      <input name="date" datepicker datepicker-format="yyyy-mm-dd" datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date" value='{{sales.date}}'>
    </div>
    <div class="mb-6">
      <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-slate-800">Amount</label>
      <input type="number" name="amount" id="amount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" value='{{sales.amount}}' required>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <label for="book" class="block mb-2 text-sm font-medium text-gray-900 dark:text-slate-800">Book</label>
      <select id="book" name="book" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-800 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        {% for book in books %}
            <option value="{{book.id}}" {% if sales.book.id == book.id %}selected{% endif %}>{{ book }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class='flex flex-row gap-10 justify-center'>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    <a href="{% if sales.id %}{% url sales.detail_url_name sales.id %}{% else %}{% url sale_url.list %}{% endif %}" class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800">Back</a>
  </div>
  </form>
</div>

{% endblock %}
