{% extends "header_template.html" %}
{% load static %}
{% load generic_scaffold_tags %}
{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div class="flex flex-col items-center">
            <label for="search_query" class="text-2xl">Search</label>
            <input type="text" name="search_query" id="search_query" value="{{search_query}}" class="border-2 border-black rounded-lg w-1/2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">Search</button>
        </div>
    </form>
</div>

<div class='flex flex-col items-center'>
  <table class="table-auto min-w-[50%] mt-5">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Publish Date</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% if search_books %}
        {% for book in search_books %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td class='text-center'>{{book.name}}</td>
            <td class='text-center'>{{book.summary}}</td>
            <td class='text-center'>{{book.publish_date}}</td>
            <td class='text-center'>{{book.author}}</td>
          </tr>
        {% endfor %} 
      {% else %}
        <tr>
          <td colspan="5" class='text-center'>No books found</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div>
  <div>
  {% for page in max_pagination_number %}
    <a href="{% url 'search' %}{{page}}/?search_query={{search_query}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">{{page}}</a>
  {% endfor %}
  </div>
</div>

{% if search_books %}
  <div class="flex justify-center mt-5">
    <a href="{% url 'search' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search Again</a>
  </div>
{% endif %}



{% endblock %}